* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {

    background-color: rgb(214, 184, 172);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8ylaA1_jUGtonT5fftsm85f1OELmaSNzETw&usqp=CAU);
    background-blend-mode: darken;
 
 }

.header{
    background-color: rgba(224, 255, 255, 0.651);
    border-radius: 80px;
    margin:90px 90px 90px;

}

.intro {
    display: flex;
    align-items: center;
    height: 400px;
    justify-content: center;
}

p {
    padding: 12px 15px;
    font-family: 'Satisfy', cursive; 
}

a {
    font-size:50px;
}

h1 {
    font-family:  'Satisfy', cursive;
    font-size: 30px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 50px;

}

h2 {
    padding: 40px 20px;
    font-family:  'Satisfy', cursive;
}

.container {
    text-align: center;
    border-radius: 80px;
    font-size: 20px;
    margin:90px 90px 90px;
    background-color: rgba(224, 255, 255, 0.637);
}



